doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")

		title that-squid-thing

		link(href="css/bootstrap.min.css" rel="stylesheet")
		link(href="css/squid.css" rel="stylesheet")

	body
		div(class="navbar navbar-inverse navbar-fixed-top" role="navigation")
			div(class="container")
				div(class="navbar-header")
					button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
						span(class="sr-only") Toggle navigation
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
					a(class="navbar-brand", href="/") that-squid-thing
				div(class="collapse navbar-collapse")
					ul(class="nav navbar-nav")
						li(class="active")
							a(href="/") Home
						li(class="")
							a(href="/map") Map
						li(class="")
							a(href="/upload") Upload

		block content

	script(src="js/jquery-1.11.1.min.js")
	script(src="js/bootstrap.min.js")
