extends layout

block content

	style(type="text/css").
		#map-canvas {
			height: 300px;
		}

	div.container
		div.jumbotron
			h1 Map

		input(onclick="javascritp:init()", type="button", value="get init")

		div(id="map-canvas" class="map jumbotron")


	script(src="https://maps.googleapis.com/maps/api/js?key=#{apiKey}")

	script(type="text/javascript").
		function init() {
			var data = !{JSON.stringify(data)};
			var contentString = "<div><img src='" + data.imageRelPath + "' width='100px' height='100px' /> </div>";
			var infowindow = new google.maps.InfoWindow({
				content: contentString
			});

			function loadMore(map) {
				$.ajax({
					url: '/sightings/near',
					type: 'POST',
					dataType: 'json',
					data: {
						max: 0.001,
						lat: map.getCenter().lat(),
						lng: map.getCenter().lng()
					},
					error: function (xhr, status, err) {
						console.log(status);
					},
					success: function (data, status, xhr) {
						var marker, i;
						for (i = 0; i < data.length; i++) {
							console.log(data[i]);
							marker = new google.maps.Marker({
								position: new google.maps.LatLng(data[i].geoLocation.coordinates[0], data[i].geoLocation.coordinates[1]),
								map: map
							});
							google.maps.event.addListener(marker, 'click', (function (marker, i) {
								return function () {
								var contentString = "<div><img src='" + data[i].imageRelPath + "' width='100px' height='100px' /> </div>";
									infowindow = new google.maps.InfoWindow({
										content: contentString
									});
									infowindow.open(map, marker);
								}
							})(marker, i));
						}

					}
				});
			}

			function _success(pos) {
				if (data.location) {
					var myLat = new google.maps.LatLng(data.location.latitude, data.location.longitude);
				} else {
					var myLat = new google.maps.LatLng(pos.coords.latitude, pos.coords.longitude);
				}

				console.dir(pos);
				var mapOptions = {
					center: myLat,
					zoom: 18
				};
				var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
				var marker = new google.maps.Marker({
					position: myLat,
					map: map,
					title: "Hello World!"
				});
				console.log(map.getCenter().lng());
				google.maps.event.addListener(marker, 'click', function (evnt) {
					infowindow.open(map, marker);
				});
				// https://stackoverflow.com/questions/6910847/get-boundaries-longitude-and-latitude-from-current-zoom-google-maps
				google.maps.event.addListener(map, 'idle', function (evnt) {
					var bounds = map.getBounds();
					console.log(bounds.getNorthEast().lat());
					console.log(bounds.getSouthWest().lat());
					loadMore(map);

				});
			}

			function _err(err) {
				console.log(err);
			}
			navigator.geolocation.getCurrentPosition(_success, _err);
		}
		google.maps.event.addDomListener(window, 'load', init);
